<section class="bg-light" id="portfolio">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Portfolio</h2>
        <hr class="primary">
        <br>
      </div>
    </div>

    <div class="row no-gutter popup-gallery">
      <div class="col-lg-4 col-sm-6">
        <a href="https://early-bird-search.herokuapp.com/" class="portfolio-box">
          <%= image_tag("earlybird.png") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Earlybird Search
              </div>
              <div class="project-category text-faded">
                Search engine for new/freelance developers used to find businesses without websites or with websites that need improvement.
                <br><br>
                Tech: Ruby on Rails, Elixir Phoenix, React.js, Google and Yelp APIs, HTML, CSS
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="http://crabmovies.herokuapp.com/" class="portfolio-box">
          <%= image_tag("crabmovies.png") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Crab Movies
              </div>
              <div class="project-category text-faded">
                An application that allows trusted users to obtain information regarding films as well as rate and review movies and actors. Regular users may rate and comment on reviews.
                <br><br>
                Tech: Ruby on Rails, HTML, CSS, AJAX, PostgreSQL
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://erwinthebarber.herokuapp.com/" class="portfolio-box">
          <%= image_tag("erwinthebarber.png") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Erwin the Barber
              </div>
              <div class="project-category text-faded">
                Portfolio website built for a client. Displays information about him, his skills, his contact information and his portfolio with images. He is able to add more content to his portfolio after logging in as an Admin.
                <br><br>
                Tech: Ruby on Rails, HTML, CSS, Bootstrap, PostgreSQL
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="<%= image_path('phonebuzz.ico') %>" class="portfolio-box">
          <%= image_tag("phonebuzz.ico") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                PhoneBuzz
              </div>
              <div class="project-category text-faded">
                A user can call a number to play fizzbuzz over the phone.
                <br>
                (209) 546-6331
                <br><br>
                Tech: Java, Play Framework, Twilio API
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://hikesnsights.herokuapp.com/" class="portfolio-box">
          <%= image_tag("highkes.png") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Higkes
              </div>
              <div class="project-category text-faded">
                An application that allows a user to sign up/login and upload images with captions. A user can also like and comment on other user's posts, view all posts made by a user, view all the users that liked specific posts and view all the posts they have liked themselves. 
                <br><br>
                Tech: Ruby on Rails, AWS S3, HTML, CSS, Bootstrap, PostgreSQL, AJAX
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 col-sm-6">
        <a href="https://sjsu-zxe.herokuapp.com/" class="portfolio-box">
          <%= image_tag("zetachiepsilon.png") %>
          <div class="portfolio-box-caption">
            <div class="portfolio-box-caption-content">
              <div class="project-name">
                Zeta Chi Epsilon
              </div>
              <div class="project-category text-faded">
                A website for a collegiate organization displaying information, all members, active cabinet and contact information. Administrator options are available once a trusted user logs in.
                <br><br>
                Tech: Ruby, Sinatra, HTML, CSS, AJAX, Instagram API
              </div>
            </div>
          </div>
        </a>
      </div>

    </div>
  </div>
</section>